<!-- 在此处展示审核人员工作量分析表 -->
<table class="table table-striped table-bordered table-hover nomargin-bottom">
	<thead>
		<tr>
			<th class="center">省份</th>
			<th class="center">已审核量</th>
			<th class="center">审核总量</th>
			<th class="center">贡献率</th>
		</tr>
	</thead>
	<tbody>
		@for(item in page){
		<tr class="main">
			<td>${item.province}</td>
			<td class="checkCount center">${item.checkCount}</td>
			<td class="countbyprovince center">${item.countbyprovince}</td>
			<td class="checkrate center">@if(item.countbyprovince==null){ 
					0
				@}else{
				${parseInt(item.checkCount)/parseInt(item.countbyprovince),numberFormat='##.##%'}
				@}
				</td>
		</tr>
		@}
		<tr class="total">
			<td class="center">合计</td>
			<td class="center"></td>
			<td class="center"></td>
			<td class="center">贡献率</td>
		</tr>
	</tbody>
</table>
<script type="text/javascript">
//合计计算	
	$(function() {
		var checkCount = 0;
		var countbyprovince = 0;
		for ( var i = 0; i < $("tr").length - 2; i++) {
			checkCount = parseInt(checkCount)
					+ parseInt($(".main .checkCount").eq(i).text().trim());//已审核
			countbyprovince = parseInt(countbyprovince)
					+ parseInt($(".main .countbyprovince").eq(i).text()
							.trim());//审核标准
		}
		$(".total td").eq(1).text(checkCount);
		$(".total td").eq(2).text(countbyprovince);
		$(".total td").eq(3).text(
				(checkCount * 100 / countbyprovince).toFixed(2) + "%");//达标率
	})
</script>
