@charset "utf-8";
/* CSS Document */
body { font:14px "microsoft Yahei","Arial",sans-serif;}
*{margin:0;padding:0;}
img{border:0;}
div,p{display:block;}
ul,li{list-style:none;}
button{ cursor:pointer; }
a{text-decoration:none;star:expression(this.onFocus=this.blur());} /* for IE */
option{star:expression(this.onFocus=this.blur());}
input{star:expression(this.onFocus=this.blur());}
:focus{outline:0; } /* for Firefox */
input,img,select{vertical-align: middle; -webkit-appearance:none;}
h2{font-weight:400;}
i{ font-style:normal;}
b{ font-weight:normal;}
.clear{clear:both;width:100%;overflow:hidden;height:0;}
iframe{ width:100%; height:99%;}
.land input{ font-family:14px; color:#333; border:0; width:100%;background:none;  height:42px; line-height:42px;}
.a{ border:1px solid #d3f144; border-radius:2px; padding:0 33px; height:34px; line-height:34px; display:inline-block; font-size:16px; font-weight:bold; transition:all 0.3s; -webkit-transition:all 0.3s;  color:#fff;}
.a:hover{ background:#d3f144; color:#003366;}
.a i{ display:inline-block; padding:0 9px;}

.a1{background:#d3f144; color:#003366;}
.a1:hover{ background:none;  color:#d3f144;}

/*框架*/
.back-1{ position:fixed; left:0; top:0px; width:100%; height:100%; background-position:center top; background-size:cover; background-repeat:no-repeat;  background-image:url(../images/back-1.jpg); z-index:-3;}
.back-2{ background:url(../images/back-2.png); position:fixed; width:100%; height:100%; z-index:-1;}
.back-3{ background-image:url(../images/back-3.png); background-position:center; background-repeat:no-repeat; background-size:800px; position:fixed; width:100%; height:100%;  z-index:-2}
.back-4{ position:fixed; height:71px; width:100%; background:url(../images/headr.png) right no-repeat; z-index:-3;}
.back-3_1{background-image:url(../images/back-3_1.png);  background-position:62% top; }

.contentHolder { position:relative; overflow: hidden;}

/* .headr{ padding:0 50px; }
.headr .headr_top{clear:both; overflow:hidden}
.headr .logo{ float:left; margin-top:37px; width:50%;}
.headr .logo img{ width:100%;}
.headr .admin{ float:right; margin-top:20px;}
.headr .admin span{ float:right;  height:33px; line-height:33px;}
.headr .admin b{ float:left; color:#fff; margin-right:20px;}
.headr .admin .yh{ float:left; color:#fff; background:url(../images/ico_01.png) left no-repeat; padding-left:46px; display:inline-block;} 
.headr .admin .exit{ display:inline-block; width:22px; height:27px; background:url(../images/ico_02.png); margin:5px 0 0 45px;} */
/* .center{ margin:30px 30px 40px 50px; overflow-x:hidden; overflow-y:auto; position:relative; z-index:9999;}
.center1{ margin:30px 35px 40px 35px;} 
.nav{ clear:both; overflow:hidden; background:url(../images/nav.jpg); border-radius:20px; display:inline-block; margin-top:27px;}
.nav a{ float:left; padding:0 30px; color:#001f78; font-weight:bold; height:40px; line-height:40px;}
.nav a:hover,.nav .one{ background:url(../images/nav_one.jpg);} */





/*登陆*/
.land_box{ position:fixed; left:0; top:50%; width:100%; margin-top:-200px;}
.land{width:344px; margin:0 auto;}
.land h2{ font-size:30px; color:#fff; text-align:center; font-weight:100; padding-bottom:40px;}
.land li{ margin-bottom:28px;}
.land .li{ background:#74d3d4; height:42px; line-height:42px;}
.land .li .p1{ float:left; margin-left:15px; color:#003366;  font-weight:bold;}
.land .li .p2{ display:block; margin:0 10px 0 75px;}

.land .li4 .p2{ display:block; margin:0 10px 0 85px;}
.land .li5 .p2{ display:block; margin:0 10px 0 101px;}



.land .yzm .li{  margin-right:110px;}
.land .yzm a{ float:right;}
.land .submit input{ background:#d3f144; cursor:pointer; border-radius:3px; font-size:16px; color:#036; font-weight:bold;  transition:all 0.3s; -webkit-transition:all 0.3s;}
.land .submit input:hover{ background:#74d3d4;}
.land .submit i{ display:block; text-align:right; padding-top:10px; }
.land .submit a{ color:#fff; color:#fff; font-weight:bold; transition:all 0.3s; -webkit-transition:all 0.3s;}
.land .submit a:hover{ text-decoration:underline; color:#d3f144;}

/*系统分析*/
.xtfx_main{ margin:0px 200px 0 200px; }
.xtfx_main .but_a{ clear:both; overflow:hidden; margin:0px 0 20px 0; }
.xtfx_main .but_a a{ float:left; margin-right:13px; }
.border{ border-color:#206776 #206776 #02b2fe #206776; border-width:1px 1px 2px 1px; border-style:solid; padding:10px 90px 0px 90px; 
box-shadow:0 2px 6px rgba(0, 0, 0, 0.4);}
.border .land li{ margin-bottom:18px;}
.border .land .li{ background:#74d3d4; height:38px; line-height:38px;}
.border .land .li .p1{ float:left; margin-left:15px; color:#003366;  font-weight:bold;}
.border .land .li .p2{ display:block; margin:0 10px 0 75px;}
.border .land .li4 .p2{ display:block; margin:0 10px 0 85px;}
.border .land .li5 .p2{ display:block; margin:0 10px 0 101px;}

.land .chosen-container-active .chosen-single{ border:0; box-shadow:none;}
.land .chosen-container-active.chosen-with-drop .chosen-single{ border:0; box-shadow:none; background-image:none;}
.land .chosen-container-single .chosen-single{ height:42px; line-height:42px; font-size:14px; color:#333;}
.land .chosen-container-single .chosen-single div{ background:url(../images/ico_03.gif) center no-repeat; margin-right:10px;}
.land .chosen-container-active.chosen-with-drop .chosen-single div{ background:url(../images/ico_03.gif) center no-repeat;}
.land .li .p_ui{ margin-right:0;}


/*系统分析列表*/
/* table{border-top:1px solid #32c0fd; border-left:1px solid #32c0fd; color:#003366; text-align:center;}
table th{ background:#bbf1f2; border-right:1px solid #32c0fd; border-bottom:1px solid #32c0fd; height:39px; padding:0 10px;}
table td{ background:#f7f7f7; border-right:1px solid #32c0fd; border-bottom:1px solid #32c0fd; height:39px; padding:0 10px;}
table i{ display:block; text-align:left; padding:0 20px;}
table td a{ text-decoration:underline; color:#003366; margin-right:10px; transition:all 0.3s; -webkit-transition:all 0.3s;}
table td a:hover{ color:#f60;} */



/*钓鱼网查询*/
.dyw_main .border{ background:url(../images/txt_back.png) center top no-repeat; padding:0; border-width:0px 1px 2px 1px;}
.dyw_main .t_txt{ color:#fff; text-align:center; font-size:30px; height:64px; line-height:64px;} 
.dyw_main .xx{ text-align:center; padding:80px 0 90px 0;}
.dyw_main .xx span{ display:inline-block; margin:0 10px; position:relative;}
.dyw_main .xx em{ font-style:normal; display:block; position:absolute; left:0; top:45px; color:#fff;}
.dyw_main .xx .text{ height:35px; line-height:35px; border:0; background:#74d3d4; padding:0 10px; width:300px; font-family:"Arial"; font-size:14px;}
.dyw_main .xx b{ color:#fff; padding:0 5px;}
.dyw_main .xx .a{height:35px; line-height:35px;}
.dyw_main .jg{ text-align:center; color:#fff; padding:35px 0;}
.dyw_main .jg .txt{ font-size:30px; }
.dyw_main .jg .tet{ font-size:16px; padding:25px 0 15px 0;}
/*2017.6.28 */
.dyw_main .tab { padding-left:40px; clear:both; overflow:hidden; position:absolute; left:0; top:74px; z-index:2;}
.dyw_main .tab a{ background:#2ec7c9; height:27px; line-height:27px; padding:0 15px; display:inline-block; color:#fff; transition:all 0.3s; -webkit-transition:all 0.3s; float:left; margin-right:5px;}
.dyw_main .qwe{
scrollbar-arrow-color: #f4ae21;  
scrollbar-face-color: #333;  
scrollbar-3dlight-color: #666; 
scrollbar-highlight-color: #666; 
scrollbar-shadow-color: #999; 
scrollbar-darkshadow-color: #666; 
scrollbar-track-color: #666; 
scrollbar-base-color:#f8f8f8; 
}

/*---滚动条默认显示样式--*/  
::-webkit-scrollbar-thumb{  
   background-color:#018EE8;  
   height:50px;  
   outline-offset:-2px;  
   outline:2px solid #fff;  
   -webkit-border-radius:4px;  
   border: 2px solid #fff;  
}  
 
/*---鼠标点击滚动条显示样式--*/  
::-webkit-scrollbar-thumb:hover{  
   background-color:#FB4446;  
   height:50px;  
   -webkit-border-radius:20px;  
}  
 
/*---滚动条大小--*/  
::-webkit-scrollbar{  
   width:10px;  
   height:8px;  
}  
 
/*---滚动框背景样式--*/  
::-webkit-scrollbar-track-piece{  
   background-color:#fff;  
   -webkit-border-radius:0;  
}
.dyw_main .border2{ text-align:center;}
.dyw_main .border2 .border{ background:none; border-width:1px 1px 2px 1px; padding:20px 130px 20px 130px; display:inline-block;}

.dyw_main .list{ margin:0 60px;}
.dyw_main .list .top{ font-size:16px; color:#fff; padding:30px 0;}
.dyw_main .list .tet{ text-align:right; padding-top:50px;}
.dyw_main .list .tet span{ margin-left:50px;}
.dyw_main .list .tet .p{ margin-left:20px;}
.dyw_main .fxt{ width:700px; height:400px; margin:30px auto 50px auto;}
.dyw_main .ss{padding:50px 40px 30px 0; position:relative;}
.dyw_main .ss li{ float:left; display:block; width:20%;margin-left:50px;margin-right:50px;}
.dyw_main .ss .li_box{ margin-right:10px; display:block;}
.dyw_main .ss .p1{ display:block; font-size:16px; font-weight:bold; color:#fff; padding-bottom:10px;}
.dyw_main .ss .p2{ background:#74d3d4; height:35px; line-height:35px; display:block;}

.dyw_main .ss .chosen-container-active .chosen-single{ border:0; box-shadow:none;}
.dyw_main .ss .chosen-container-active.chosen-with-drop .chosen-single{ border:0; box-shadow:none; background-image:none;}
.dyw_main .ss .chosen-container-single .chosen-single{ height:35px; line-height:35px; font-size:14px; color:#333;}
.dyw_main .ss .chosen-container-single .chosen-single div{ background:url(../images/ico_03.gif) center no-repeat; margin-right:10px;}
.dyw_main .ss .chosen-container-active.chosen-with-drop .chosen-single div{ background:url(../images/ico_03.gif) center no-repeat;}
.dyw_main .ss .chosen-container .chosen-results li{ float:none; width:auto;}
.dyw_main .ss .titm b{ padding:0 4px 0 10px; display:block;}
.dyw_main .ss .titm input{background: url(../images/titm.gif) right no-repeat; width:100%; height:35px; line-height:35px; border:0; cursor:pointer; font-size:14px; font-family:"Arial";}
.dyw_main .ss .a1{ position:absolute; right:0; top:81px;}



.gd ul{ clear:both; overflow:hidden;}
.gd li{ width:33.3%; float:left; margin-bottom:30px;}
.gd li .border{ padding:0; background:url(../images/txt_back1.png) top no-repeat; height:422px; position:relative;}
.gd .li_box{ margin:0 15px}
.gd .txt{ font-size:16px; font-weight:bold; color:#fff; text-align:center; padding:15px 0 40px 0;}
.gd .main_box{ width:90%; margin:0 5%; }
.gd .main1{height:300px;}
.gd .li2 .main1{ height:300px; }
.gd .li4 .main1{ height:300px;}
.gd .tet{ background:url(../images/tet_back.png); color:#fff; text-align:center; position:absolute; bottom:0; left:0; width:100%; height:43px; line-height:43px;}
.gd .tet .p{ font-weight:bold;}
.gd .tet span{ padding:0 10px; font-size:18px;}
.gd .tab { padding-left:40px; clear:both; overflow:hidden; position:absolute; left:0; top:74px; z-index:2;}
.gd .tab a{ background:#2ec7c9; height:27px; line-height:27px; padding:0 15px; display:inline-block; color:#fff; transition:all 0.3s; -webkit-transition:all 0.3s; float:left; margin-right:5px;}
.gd .tab .selected{ background:#d3f144; color:#003366;}
.gd .li_ym{ position:relative;}
.gd .li_ym .tab{ position:absolute; left:0; top:90px; z-index:999;}
.gd .li_ym .tab a{ float:none; display:block; width:72px; margin-bottom:10px;}
.gd li a{ display:block;}

.gd .border1{ padding:50px 0; margin:0 15px; clear:both; overflow:hidden;}
.gd .fwq_box{ float:left; width:50%;}
.gd .fwq_box .fwq{ margin:0 150px;}
.gd .fwq_box .fwq span{ color:#fff; font-size:16px; font-weight:bold; padding-bottom:15px; display:block;}
.gd .fwq_box .fwq .bfb{ background:#fff; margin-bottom:60px;}
.gd .fwq_box .fwq .bfb div{ background:#74d3d4; height:47px; position:relative;} 
.gd .fwq_box .fwq .bfb div b{ position:absolute; right:-40px; top:13px; font-size:16px; color:#003366;}
.gd .fwq_box .fwq .border{ padding:30px 0;}




/*首页*/
.warp{ padding:0 20px 0 0;}
.top_txt{ position:absolute; right:20px; top:0;width:20%; z-index:2; color:#fff; overflow:hidden; text-align:center; background:url(../images/txt_back4.png) center no-repeat; height:86px; padding-top:10px;} 
.top_txt span{ color:#d3f144; font-size:30px; font-weight:100; display:block; padding-top:5px;}
.index_r{ position:absolute;right:20px;width:300px;top:-50px;}

.index_l{ float:left; width:25%; }
.index_l_bo{ border-width:2px 1px 1px 1px; border-style:solid; border-color:#02b2fe #126e83 #126e83 #126e83; background:url(../images/txt_back3.png) top repeat-x;}
.index_l .txt{ text-align:center; color:#fff; font-weight:bold; font-size:16px; padding:25px 0;}
.index_l .tab span{  float:left; width:50%; text-align:center;}
.index_l .tab a{height:36px; line-height:36px;  color:#fff; font-weight:bold; width:100%; text-align:center; display:block; border-radius:5px 5px 0 0; overflow:hidden;}
.index_l .tab .selected{ background:#001a2d;}
.index_l li{ }
.index_l li .main{ height:285px; padding-bottom:70px; width:90%; margin:0 5%;}
.index_l .li{ background:none;}
.index_l .li .main{ padding:20px 0 0 0;}

.index_r{width:20%;float:right; margin-top:150px; overflow:hidden; }
.index_r .box{border-width:2px 1px 1px 1px; padding:0 15px; border-style:solid; border-color:#02b2fe #126e83 #126e83 #126e83;  position:relative; height:500px;}
.index_r .txt{ color:#fff; text-align:center; font-size:16px; padding:20px 0 25px 0;}
.index_r .tu{ text-align:center;}

.index_r .tab_main{ background: url(../images/btm.png); margin:40px 80px; border:1px solid #2ec7c9; color:#fff; display:none;  position:relative; padding:10px 20px;}
.index_r .tab_main li{ line-height:28px;}
.index_r .tab_main i{ position:absolute; left:22px; top:-20px; background:url(../images/tip.png); width:27px; height:20px;}
.index_r .box .main{ height:230px;width:300px;margin:-30px auto; }

.index_c{ width:40%; float:left; overflow:hidden; }
.index_c .txt{ text-align:center; color:#fff; font-size:20px;}
.index_c .fbt{ padding-bottom:40px; padding-left:30px; position:relative;}
.index_c .fbt .main{ height:500px; }



/*---------1440---------*/
.ie8jj .gd .fwq_box .fwq{ margin:0 50px;}
.ie8jj .gd .li_ym .tab a{ display:inline-block; width:auto;}
.ie8jj .index_l{ width:28%;}
.ie8jj .index_c{ width:40%;}
.ie8jj .index_r .tu .main{ width:230px;}

/*---------1280---------*/
/*小屏*/
.ie8j .headr{ padding:0 20px;}
.ie8j .headr .logo{ width:68%; }
.ie8j .headr .admin{ margin-top:15px;}
.ie8j .headr .admin .exit{ margin-left:30px;}
.ie8j .back-4{ background:url(../images/headr_ie8j.png) right -11px no-repeat;}
/*.ie8j .back-3{ background:url(../images/back-3_ie8j.png) center no-repeat;}
.ie8j .back-3_1{ background:url(../images/back-3_1.png) no-repeat; background-position: 62% top;}*/
/*.ie8j .center{ margin:30px 20px 20px 20px; min-width:1200px;}*/
.ie8j .center1{ margin:30px 20px 20px 10px;}
.ie8j .land_box{ margin-top:-250px;}
.ie8j .warp{ padding:0 10px 0 0}

/*表*/.ie8j .gd .li_box{ margin:0 10px;}
.ie8j .gd li{ margin-bottom:20px;}
.ie8j .gd .fwq_box .fwq{ margin:0 10px;}
.ie8j .gd .border1{ padding:50px 10px;}
.ie8j .gd .li_ym .tab a{ float:none; display:inline-block;}
.ie8j .gd .li_ym .tab{ top:80px; left:-20px;}

/*数据分析列表*/
.ie8j .xtfx_main{ margin:0;}
.ie8j .warp{ padding:0 10px 0 0;}
.ie8j .dyw_main .list{ margin:0;}

/*首页*/
.ie8j .index_l{ width:30%;}
.ie8j .index_c{ width:35%;}
.ie8j .index_c .fbt .main{ height:450px;}
.ie8j .index_r{ width:20%; overflow:hidden; margin:0;top:120px;text-align:center;}
.ie8j .index_r .box{ height:280px;margin:0;text-align:center;}
.ie8j .index_r .tu .main{ width:230px;}
.ie8j  .top_txt{position:absolute;width:20%;}
.ie8j .index_r .txt{ text-align:center;padding-top:0;text-align:center;}
.ie8j .index_r .tu{ top:30px;}  
.ie8j .index_r .tab_main{ margin-left:420px; display:none; height:180px;}
.ie8j .index_r .tab_main i{ left:-20px; top:150px; background:url(../images/tip1.png) no-repeat; width:21px; height:27px;}
.ie8j .index_r .tab_main ul{ clear:both; overflow:hidden;}
.ie8j .index_r .tab_main li{ float:left; margin:0 10px;}