<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>不良信息管控系统</title>

		<meta name="description" content="index" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<link rel="stylesheet" href="${ctxPath!}/static/msg/style.css" />
		<!-- bootstrap & fontawesome -->
		<link rel="stylesheet" href="${ctxPath!}/static/bootstrap/bootstrap.min.css" />
		<link rel="stylesheet" href="${ctxPath!}/static/css/font-awesome.min.css" />
		
		<link rel="stylesheet" href="${ctxPath!}/static/chosen/chosen.min.css" />
		
		<!-- ace styles -->
		<link rel="stylesheet" href="${ctxPath!}/static/ace/css/ace.min.css" id="main-ace-style" />
		<link rel="stylesheet" type="text/css" href="${ctxPath}/static/uploadify/css/uploadify.css">
		<link rel="stylesheet" type="text/css" href="${ctxPath}/static/css/new.css">
		
		<!--[if lte IE 9]>
			<link rel="stylesheet" href="${ctxPath!}/static/ace/css/ace-part2.min.css" />
		<![endif]-->
		<link rel="stylesheet" href="${ctxPath!}/static/ace/css/ace-skins.min.css" />
		<link rel="stylesheet" href="${ctxPath!}/static/ace/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="${ctxPath!}/static/table/bootstrap-table.css" />

		<!--[if lte IE 9]>
		 	<link rel="stylesheet" href="${ctxPath!}/static/ace/css/ace-ie.min.css" />
		<![endif]-->
		
		
		<link rel="stylesheet" href="${ctxPath!}/static/jquery/fullcalendar.css" />
		<link rel="stylesheet" href="${ctxPath!}/static/jquery/fullcalendar.print.css" media='print'/>
		
		${layoutContent!}

		<!-- ace settings handler -->
		<script src="${ctxPath!}/static/ace/js/ace-extra.min.js"></script>
		
		
		<!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
		
		<!--[if lte IE 8]>
			<script src="${ctxPath!}/static/bootstrap/html5shiv.min.js"></script>
			<script src="${ctxPath!}/static/bootstrap/respond.min.js"></script>
			<script>var ie8 = "ie8";</script>
		<![endif]-->
		
		<!--[if !IE]> -->
		<script src="${ctxPath!}/static/jquery/jquery-2.1.1.min.js"></script>
		<!-- <![endif]-->

		<!--[if IE]>
		<script src="${ctxPath!}/static/jquery/jquery-1.11.1.min.js"></script>
		<![endif]-->

		<script type="text/javascript">
			if('ontouchstart' in document.documentElement) document.write("<script src='${ctxPath!}/static/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="${ctxPath!}/static/bootstrap/bootstrap.min.js"></script>

		<!-- ace scripts -->
		<script src="${ctxPath!}/static/ace/js/ace-elements.min.js"></script>
		<script src="${ctxPath!}/static/ace/js/ace.min.js"></script>
		<script src="${ctxPath!}/static/table/bootstrap-table-all.min.js"></script>
		<script src="${ctxPath!}/static/table/bootstrap-table-zh-CN.min.js"></script>
		
		<script type="text/javascript">
		 	var ctxPath = "${ctxPath!}";
			 $(function(){
				$(".sidebar-shortcuts-mini .btn,.sidebar-shortcuts-large .btn").on("click",function(){
					var skin = $(this).data("skin");
					var t = $(document.body);
					t.removeClass("no-skin skin-1 skin-2 skin-3");
					t.addClass(skin);
				})
			 });
		
		</script>
		<script src="${ctxPath!}/static/js/history.js"></script>
		<script type="text/javascript" src="${ctxPath!}/static/layer/layer.min.js"></script>
		<script type="text/javascript" src="${ctxPath!}/static/js/spin.min.js"></script>
		<script type="text/javascript" src="${ctxPath!}/static/ztree/jquery.ztree.all-3.5.min.js"></script>
		<script type="text/javascript" src="${ctxPath!}/static/js/jquery.autosize.min.js"></script>
		<script type="text/javascript" src="${ctxPath!}/static/chosen/chosen.jquery.min.js"></script>
		<script type="text/javascript" src="${ctxPath}/static/validate/Validform_v5.3.2_min.js"></script>
		<script type="text/javascript" src="${ctxPath}/static/validate/Validform_Datatype.js"></script>
		<script type="text/javascript" src="${ctxPath}/static/js/jquery.form.js"></script>
		<script type="text/javascript" src="${ctxPath}/static/js/bootstrap-contextmenu.js"></script>
		<script type="text/javascript" src="${ctxPath}/static/js/jquery.nicescroll.min.js"></script>
		<script type="text/javascript" src="${ctxPath}/static/My97DatePicker/WdatePicker.js"></script>
		<script type="text/javascript" src="${ctxPath}/static/uploadify/scripts/jquery.uploadify.js"></script>
		
		
		<script type="text/javascript" src="${ctxPath}/static/js/public.js"></script>
		<script type="text/javascript" src="${ctxPath}/static/jquery/moment.min.js"></script>
		<script type="text/javascript" src="${ctxPath}/static/jquery/fullcalendar.min.js"></script>
		
		<script type="text/javascript" src="${ctxPath}/static/app/echarts.min.js"></script>
		
		<!-- 系统监控  -->
		<link rel="stylesheet" type="text/css" href="${ctxPath}/static/app/dy/css.css" />
		<link rel="stylesheet" type="text/css" href="${ctxPath}/static/app/dy/perfect-scrollbar.css">
		<script src="${ctxPath}/static/app/dy/jquery.mousewheel.js"></script>
		<script src="${ctxPath}/static/app/dy/perfect-scrollbar.js"></script>
		<script src="${ctxPath}/static/app/dy/all.js"></script>
		
		<!-- 中国地图 世界地图js -->
		<script type="text/javascript" src="${ctxPath!}/static/js/world.js"></script>
		<script type="text/javascript" src="${ctxPath!}/static/js/china.js"></script>
		
		<!--引用自己写的js  -->
		<!-- <script type="text/javascript" src="${ctxPath}/static/js/person.js"></script>
		<script type="text/javascript" src="${ctxPath}/static/biaoge/dateFormat.js"></script>
		 -->

		<!-- 页面表格导出excel -->
		<script type="text/javascript" src="${ctxPath}/static/biaoge/table2excel/jquery.table2excel.min.js"></script>

		<script type="text/javascript" src="${ctxPath}/static/msg/msgbox.js"></script>
		<script type="text/javascript" src="${ctxPath}/static/msg/clickautohide.js"></script>
	</head>


	<body class="no-skin" id="body-content" style="overflow:hidden;">