<h1 id="ipError" style="color: white; float:right; margin-right: 45%;"></h1>
<div id="ipChart" style="height: 100%;width: 50%; float:left;"></div>
<div id="ipTable" style="width:48%; float:right;">
	<table id="ipTable" class="table table-striped table-bordered table-hover nomargin-bottom">
		<thead>
			<tr>
				<th class="center">日期</th>
				<th class="center">去重ip个数
					@if(tableName == "all"){
						(全部)
					@}else if(tableName == "image"){
						(图片)
					@}else if(tableName == "text"){
						(文本)
					@}
				</th>
			</tr>
		</thead>
		<tbody>
			@for(item in ipCount){
				<tr>
					<td class="center">${item.insertdate!}</td>
					<td class="center">${item.ipCount!}</td>
				</tr>
			@}
		</tbody>
	</table>
</div>
<script>
	$(function(){
		var data = ${ipCount};
		if(data.length>0){
			var date = [];
			var count = [];
			$.each(data,function(index,value){
				date.push(new Date(value.insertdate).format("yyyy-MM-dd"));
				count.push(value.ipCount);
			});
			var dateArr = reverse(date);
			var countArr = reverse(count);
			//绘制图形
			myChart = echarts.init(document.getElementById("ipChart"));
			var option = {
					animation : true,
					tooltip : {
						trigger : 'axis',
						formatter: "{b}:<br/>{c}(条)"
					},
					title : {
						top : 20,
						show : false
					},
					grid: {
				        top: '8%',
				        left: '1%',
				        right: '3%',
				        bottom: '8%',
				        containLabel: true,
				    },
				    xAxis: [{
				        type: 'category',
				        boundaryGap: true,
				        axisLine: { //坐标轴轴线相关设置。数学上的x轴
				            show: true,
				            lineStyle: {
				                color: '#f9f9f9'
				            },
				        },
				        axisLabel: { //坐标轴刻度标签的相关设置
				            textStyle: {
				                color: '#d1e6eb',
				                margin: 15,
				            },
				        },
				        axisTick: {
				        	alignWithLabel: true
				        },
				        data: dateArr
				    }],
				    yAxis: [{
				        type: 'value',
				        min: 0,
				        // max: 140,
				        splitNumber: 7,
				        splitLine: {
				            show: true,
				            lineStyle: {
								type: 'dashed'
				            }
				        },
				        axisLine: {
				            show: false,
				        },
				        axisLabel: {
				            margin: 20,
				            textStyle: {
				                color: '#d1e6eb',

				            },
				        },
				        axisTick: {
				            show: true,
				        },
				    }],
				    dataZoom: [
				    	{
				    		id: 'slider',
				    		type: 'slider',
				    		backgroundColor: '#00132b',
				    		xAxisIndex: 0,
				    		filterMode: 'filter',
				    		textStyle: {
				    			color: "#c0c0c0"
				    		}
			    		},
			    		{
			    			id: 'inside',
			    			type: 'inside',
			    			filterMode: 'filter'
			    		}
				    ],
				    series: [{
				        type: 'line',
				        // smooth: true, //是否平滑曲线显示
				        // symbol:'circle',  // 默认是空心圆（中间是白色的），改成实心圆
				        showAllSymbol: true,
				        symbol: 'emptyCircle',
				        symbolSize: 6,
				        lineStyle: {
				            normal: {
				                color: "#28ffb3", // 线条颜色
				            },
				            borderColor: '#f0f'
				        },
				        itemStyle: {
				            normal: {
				                color: "#28ffb3",

				            }
				        },
				        tooltip: {
				            show: true
				        },
				        areaStyle: { //区域填充样式
				            normal: {
				                //线性渐变，前4个参数分别是x0,y0,x2,y2(范围0~1);相当于图形包围盒中的百分比。如果最后一个参数是‘true’，则该四个值是绝对像素位置。
				                color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
				                        offset: 0,
				                        color: 'rgba(0,154,120,1)'
				                    },
				                    {
				                        offset: 1,
				                        color: 'rgba(0,0,0, 0)'
				                    }
				                ], false),
				                shadowColor: 'rgba(53,142,215, 0.9)', //阴影颜色
				                shadowBlur: 20 //shadowBlur设图形阴影的模糊大小。配合shadowColor,shadowOffsetX/Y, 设置图形的阴影效果。
				            }
				        },
				        data: countArr
				    }]	
				};
			myChart.setOption(option);
		}else{
			$("#ipChart").hide();
			$("#ipTable").hide();
			$("#ipError").text("未找到相关数据！");
		}
	})
</script>
