<div class="tabbable">
	<ul class="nav nav-tabs" id="myTab">
		<li class="active"><a data-toggle="tab" href="#type"> <i
				class="green ace-icon fa fa-users bigger-120"></i> 类别统计分析
		</a></li>
	</ul>

	<div class="tab-content">
		<div id="type" class="tab-pane active clearfix">
			<#search>
			<form action="${ctxPath}/blType/typeProportion" method="post" id="type-search-form"
				target="type-list-page" class="center clearfix">
				<div class="row padding-tb-10">
					<div class="col-sm-6">
						<label class="inline">起始日期：</label> <input type="text"
							class="width-45" name="startDate" id="startDate" value="${startDate}"
							onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" readonly />
					</div>
					<div class="col-sm-6">
						<label class="inline">结束日期：</label> <input type="text"
							class="width-45" name="endDate" id="endDate" value="${endDate}"
							onClick="WdatePicker({dateFmt:'yyyy-MM-dd'})" readonly />
					</div>
					<!-- <div class="col-sm-6">
						<label class="inline">ip或域名：</label><input type="text"
							class="width-80" name="ipOrHost" id="ipOrHost"/>
					</div> -->
					<div class="col-sm-6">
						<input id="host" type="radio" name="type" value="1"/><label for="host">域名</label>
						<input id="ip" type="radio" name="type"/ value="2"><label for="ip">IP</label>
						<input type="text" class="width-80" name="ipOrHost" id="ipOrHost"/>
					</div>
					<div class="col-sm-3">
						<input type="text" class="width-45" id="type-search-btn" style ="cursor:pointer;text-align:center;color:#fff;background-color:#f8ac59;" value="条件查询" readonly/>
						<input type="text" class="width-45" id="type-export-btn" onclick="exportData(this);" style ="cursor:pointer;text-align:center;color:#fff;background-color:#f8ac59;margin-left:20px;" value="数据导出" readonly/>
					</div>
				</div>
			</form>
			</#search>
			<div class="list" id="type-list-page" style="height:63vh"></div>
		</div>
	</div>
</div>
<style>
#home input{background:#18202d;color:#fff;}
#home select{background:#18202d;color:#fff;}
</style>
<script>
	$("#type-search-form").getPageList({
		"submitBtnId": 'type-search-btn'
	})
	
	function exportData(thiz){
		var id = $(thiz).attr("id");
		var table = $(thiz).parents(".tab-pane").children(".list").children("div").children("table");
		var tableId = table.attr("id");
		if(table.is(":hidden")){
			alert("没有相关数据！");
			return;
		}
		//获取当前子页面的标题内容
		var title = $(thiz).parents(".tabbable").children("ul").children(".active").text().trim();
		var startDate = $("#startDate").val();
		var endDate = $("#endDate").val();
		title = title + "(" + startDate + "至" + endDate + ")";
		$("#"+tableId).table2excel({
			exclude: ".noExl",
            filename: title+(startDate-endDate),
            exclude_img: true,
            exclude_links: true,
            exclude_inputs: true
		});
	}

	$(function(){
		$("#sx").hide();
		$("#tj").hide();
	})
</script>