<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zicms.mapper.StudentMapper">

	<!--<resultMap id="BaseResultMap" type="com.zicms.entities.Student" >
		<id column="sut_id" property="stuId" jdbcType="BIGINT" />
		<result column="stu_name" property="stuName" jdbcType="VARCHAR" />
		<result column="stu_age" property="stuAge" jdbcType="INTEGER" />
	</resultMap>-->

	<select id="findOne" resultType="com.zicms.entities.Student">
		select * from student limit 1;
	</select>
</mapper>