<div id="abroadEacherts" style="margin-top:10px;width:100%;height: 380%; top: 50; overflow:hidden; "></div>
<div id="abroadtable" style="display:none"></div>
<div id="tooltip" style="text-align:center"></div>

<script>

	$(function(){
		
		var map = ${map};
		var startDate = map[0].abroadstartdate;
		var endDate = map[0].abroadenddate;
		
		$.ajax({
			url:"${ctxPath}/SWOTAnalysis/getAbroadWorld",
			data:{"startDate":startDate,"endDate":endDate},
			dataType:"json",
			type:"post",
			async:false,
			success:function(data){
			
				if(data==""){
					$("#tooltip").html("<font size='7'>暂时没有找到，请再次尝试！</font>");
					document.getElementById("abroadEacherts").style.display='none';
				}else {
					
				var table = '<table class="table table-striped table-bordered table-hover nomargin-bottom" id="situationtable"><thead><tr><th class="center">数据来源</th><th class="center" style="display:none">类型</th><th class="center" style="display:none">数量</th></tr></thead><tbody class="tbod">';
				
				var myEcharts = echarts.init(document.getElementById("abroadEacherts"));
				var geoCoordMap = new Map();
				var shuzu = new Array();
				var dataArray = new Array();
			    for (var i = 0; i < data.length; i++) {
					shuzu.push({"name":data[i].worldname,"value":data[i].sumvalue});
					var coordinate = data[i].tude;
			    	var coordinates = coordinate.split(",");
			    	geoCoordMap.set(data[i].worldname,coordinates); 
			    	
			    	table+='<tr><td>'+data[i].name+'</td>'+'<td class="center">'+data[i].type+'</td>'+'<td>'+data[i].value+'</td></tr>'
			   }
			        $("#abroadtable").html(table);
	 		    	var BJData = new Array();
	     		    var TestData;
	     		    for (var h = 0; h < shuzu.length; h++) {
	 					if(shuzu[h].name=="中国"&&shuzu[h].name!=""){
	 						TestData = shuzu[h];
	 						shuzu.splice(h,1);
	 					}
	 				}
	     		    for (var k = 0; k < shuzu.length; k++) {
						BJData.push([shuzu[k],TestData]);
				    }
	     			var convertData = function(data) {
	     							
	     							var res = [];
	     							for (var i = 0; i < data.length; i++) {
	     								var dataItem = data[i];
	     								var fromCoord = geoCoordMap.get(dataItem[0].name);
	     								var toCoord = geoCoordMap.get(dataItem[1].name);
	     								if (fromCoord && toCoord) {
	     									res.push([ {
	     										coord : fromCoord,
	     										value : dataItem[0].value
	     									}, {
	     										coord : toCoord
	     									} ]);
	     								}
	     							}
	     							return res;
	     						};
							var series = [];
						    [[ "中国", BJData ]]
							.forEach(function(item, i) {
								series
								.push(
										{
											type : "lines",
											zlevel : 2,
											effect : {
												show : true,
												period : 4, //箭头指向速度，值越小速度越快
												trailLength : 0.02, //特效尾迹长度[0,1]值越大，尾迹越长重
												symbol : "arrow", //箭头图标
												symbolSize : 5
											//图标大小
											},
											lineStyle : {
												normal : {
													width : 1, //尾迹线条宽度
													opacity : 0, //尾迹线条透明度
													curveness : 0.3
												//尾迹线条曲直度
												}
											},
	
											data : convertData(item[1])
										},
										{
											type : "effectScatter",
											coordinateSystem : "geo",
											zlevel : 2,
											rippleEffect : {
												//涟漪特效
												period : 4, //动画时间，值越小速度越快
												brushType : "stroke", //波纹绘制方式 stroke, fill
												scale : 4
											//波纹圆环最大限制，值越大波纹越大
											},
											label : {
												normal : {
													show : true,
													position : "right", //显示位置
													offset : [
															5,
															0 ], //偏移设置
													formatter : "{b}" //圆环显示文字
												},
												emphasis : {
													show : true
												}
											},
											symbol : "circle",
											symbolSize : function(
													val) {
												return 6 + val[2] / 500; //圆环大小
											},
											itemStyle : {
												normal : {
													show : false,
												}
											},
											data : item[1]
													.map(function(
															dataItem) {
														return {
															name : dataItem[0].name,
															value : geoCoordMap.get(dataItem[0].name).concat([ dataItem[0].value ])
														};
													})
										},
										//被攻击点
										{
											type : "scatter",
											coordinateSystem : "geo",
											zlevel : 2,
											rippleEffect : {
												period : 4,
												brushType : "stroke",
												scale : 4
											},
											label : {	
												normal : {
													show : true,
													position : "right",
													color : "#00ffff",
													formatter : "{b}",
													textStyle : {
														color : "#0bc7f3"
													}
												},
												emphasis : {
													show : true
												}
											},
											symbol : "pin",
											symbolSize : 30,
											itemStyle : {
												normal : {
													show : true,
													color : "#9966cc"
												}
											},
											data : [ {
												name : item[0],
												value : geoCoordMap.get(item[0]).concat([((item[1])[0])[1].value])
											} ]
										});
									});
	 						option = {
	 							toolbox: {  
	 								show : true,  
	 								feature : {  
	 									mark : {show: true},  
	 									dataView : {show: true, readOnly: false},  
	 									restore : {show: true},  
	 									saveAsImage : {show: true,backgroundColor: 'black'}
	 								},
	 								x:"right",
	 								y:"bottom"
	 							},
	 							tooltip : {
	 								trigger : "item",
	 								backgroundColor : "#1540a1",
	 								borderColor : "#FFFFCC",
	 								showDelay : 0,
	 								hideDelay : 0,
	 								enterable : true,
	 								transitionDuration : 0,
	 								extraCssText : "z-index:100",
	 								formatter : function(params, ticket,
	 										callback) {
	 									//根据业务自己拓展要显示的内容
	 									var res = "";
	  								var name = params.name;
	 									for(var i=0; i<data.length; i++){
									if(name==data[i].name){
	  										res = "<span style='color:#fff;'>"
	  											+ data[i].name +":"
	  											+ data[i].sumvalue + "</span><br/>";
	  										var typeArr = data[i].type.split(",");
	  										var valueArr = data[i].value.split(",");
	  										for(var j=0; j<typeArr.length; j++){
	  											res += "<span style='color:#fff;'>"
	   											+ typeArr[j] + ":"
	   											+ valueArr[j] + "</span><br/>";
	  										}
									}   										
	 									}
	 									return res;
	 								}
	 							},
	 							visualMap : {
	 								//图例值控制
	 								min : 0,
	 								max : 10000,
	 								show : false,
	 								calculable : true,
	 								color : [ "#0bc7f3" ],
	 								textStyle : {
	 									color : "#fff"
	 								},
	 							},
	 							geo : {
	 								map : "world",
	 								label : {
	 									emphasis : {
	 										show : false
	 									}
	 								},
	 								roam : true, //是否允许缩放
	 								layoutCenter : [ "50%", "51%"], //地图位置
	 								layoutSize : "180%",
	 								itemStyle : {
	 									normal : {
	 										color : "#04284e", //地图背景色
	 										borderColor : "#5bc1c9" //省市边界线
	 									},
	 									emphasis : {
	 										color : "rgba(37, 43, 61, .5)" //悬浮背景
	 									}
	 								}
	 							},
	
	 							series : series
	 						};
	 						myEcharts.setOption(option);
				  }
			},
			    error : function() {
					alert("数据异常，请联系管理员！");
			}
		})
	})	
		
</script>